.services {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__container {
  width: 90%;
  max-width: 1000px;
  margin: 5em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__list {
  list-style: none;
  line-height: 1.6;
  font-size: 20px;
}

.services__left__pic {
  width: 50%;
  height: 500px;
  background: url(../../images/coding.jpg) no-repeat center / cover;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.services__right {
  width: 50%;
  min-height: 300px;
  background-color: #d8e2dc;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-left: -150px;
  border-radius: 10px;
}

.services__right__content > h1 {
  padding-bottom: 0.5em;
}

@media only screen and (max-width: 768px) {
  .services__container {
    flex-direction: column;
    width: 100%;
    margin: 4em 3em;
  }
  .services__left__pic {
    width: 90%;
    height: 400px;
  }
  .services__right {
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
}

@media only screen and (max-width: 500px) {
  .services__right {
    width: 80%;
    font-size: 20px;
  }

  .services__right__content > h1 {
    font-size: 25px;
    padding-bottom: 0.8em;
  }

  .services__list {
    list-style: none;
    line-height: 1.6;
    font-size: 15px;
  }
}
