.section-services {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-container {
  margin: 0 1;
  width: 0%;
  height: 400px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d8e2dc;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.services-left {
  width: 50%;
  height: 300px;
  display: flex;
  margin-top: -10em;
  margin-left: -5em;
  background: url(../../images/coding.jpg) center/cover;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.services-left-bottom {
  background: url(../../images/notepad.jpg) center/cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 300px;
  display: flex;
  margin-top: 13em;
  margin-left: 5em;
  margin-right: 3em;
}

.services-right {
  width: 50%;
  min-height: 350px;
  margin-left: 6em;
  margin-top: -3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-right > ul {
  list-style: none;
  margin-right: -5em;
}
.services-right > ul > li {
  line-height: 1.6;
}

.services-right > ul > li > h3 {
  font-size: 30px;
}

.services-right > ul > li > p {
  font-size: 26px;
}

.services-right > h1 {
  font-size: 40px;
  padding-bottom: 0.7em;
}
