.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero__wrapper {
  position: relative;
}

.hero__item__1 {
  top: -1em;
  left: -0.01em;
  position: absolute;
  display: flex;
  font-size: 40px;
}

.hero__item__2 {
  top: 0.1em;
  left: 0em;
  position: absolute;
  font-size: 25px;
  display: flex;
  color: white;
}

.hero__item__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.dahlia {
  width: 500px;
}

.hero__container:hover .hero__item__1 > h1 {
  transform: translateX(375px);
  transition: transform 0.4s ease-in-out;
}

.hero__container:hover .hero__item__2 > h2 {
  transform: translateX(240px);
  transition: transform 0.4s ease-in-out;
}

@media only screen and (max-width: 590px) {
  .hero__item__1 {
    top: -1.3em;
    left: -0.01em;
    position: absolute;
    display: flex;
    font-size: 30px;
  }
  .dahlia {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .hero__container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero__item__1 {
    top: -1.3em;
    left: -0.01em;
    position: absolute;
    display: flex;
    font-size: 30px;
  }
  .hero__item__2 {
    top: 0.1em;
    left: 0em;
    position: absolute;
    font-size: 20px;
    display: flex;
    color: white;
    font-weight: 400;
  }

  .hero__item__3 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  }

  .hero__container:hover .hero__item__1 > h1 {
    transform: translateX(140px);
    transition: transform 0.4s ease-in-out;
  }

  .hero__container:hover .hero__item__2 > h2 {
    transform: translateX(55px);
    transition: transform 0.4s ease-in-out;
  }
  .dahlia {
    width: 270px;
  }
}
