.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__item__1 {
  position: absolute;
  display: flex;
  font-size: 40px;
}

.hero__item__2 {
  position: absolute;
  font-size: 25px;
  display: flex;
  transform: rotate(90deg);
}

.hero__item__3 {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}
