.portfolio {
  padding: 3em;
  background-color: #f7f7f7;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.portfolio__container {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.portfolio__item {
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .portfolio {
    padding: 2em 2em 2em 2em;
    background-color: #f7f7f7;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
  }
  .portfolio__container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .portfolio__item {
    padding: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .portfolio {
    padding: 2em 2em 2em 2em;
    background-color: #f7f7f7;
  }
}
