.portfolio__item {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.portfolio__item__img {
  width: 300px;
  object-fit: cover;
}

.portfolio__item__box {
  display: flex;
  flex-direction: row;
  width: 100%;
}
